* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: rgb(7, 7, 7);
}

/*Main CSS*/

.main-container {
  display: flex;
  flex-direction: column;
}

.main-title-container {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  margin-left: 8rem;
}

.main-h1 {
  font-family:"Press Start 2P";
  color: rgb(226, 8, 8);
  font-weight:lighter;
  font-size: 4rem;
  text-shadow: 2px 2px 1px rgb(68, 68, 68);
}

.main-p1 {
  color: white;
  font-size: 2rem;
}

.main-h3-p-img {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  padding-left: 7rem;
  padding-right:7rem;
}

.main-h3-p {
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem 2rem 2rem;
}

.main-h3 {
  font-size: 2.5rem;
  color: rgb(212, 212, 212);
}

.main-p {
  font-size: 1.25rem;
  color: rgb(212, 212, 212);
}

.main-img { 
  border-radius: 0.5rem;
}

/* Header CC */

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 4rem;
  background-color: rgb(17, 17, 17);
  border-bottom: solid white 2px;
}

.header-one {
  display: flex;
  width: 50%;
  height: 100%;
}

.header-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}


.header-two {
  display: flex;
  width: 50%;
  padding-left: 7rem;
  justify-content: space-around;
}

.header-a {
  text-decoration: none;
  font-size: 1.25rem;
  color: white;
}

.header-li {
  list-style: none;
}

.header-form {
  border-radius: 0.25rem;
}

.header-button-container {
  display: flex;
  justify-content: space-around;
}

.header-login-button {
  width: 5rem;
  height: 2rem;
  border-radius: 0.5rem;
}

.header-signup-button {
  margin-left: 1rem;
  width: 5rem;
  height: 2rem;
  border-radius: 0.5rem;
  background-color: rgb(255, 255, 16);
}