* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Roboto;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: rgb(7, 7, 7);
}

/* Header CSS */

.header-page-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 4rem;
  background-color: rgb(17, 17, 17);
  border-bottom: solid rgb(109, 109, 109) 2px;
}

.header-one {
  display: flex;
  width: 40%;
  height: 100%;
}

.header-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}


.header-two {
  display: flex;
  width: 60%;
  padding-left: 25rem;
  justify-content: space-around;
}

.header-a {
  text-decoration: none;
  font-size: 1.25rem;
  color: white;
}

.header-li {
  list-style: none;
}

.header-form {
  border-radius: 0.25rem;
}

.header-button-container {
  display: flex;
  justify-content: space-around;
}

.header-login-button {
  width: 5rem;
  height: 2rem;
  border-radius: 0.5rem;
}

.header-signup-button {
  margin-left: 2rem;
  width: 5rem;
  height: 2rem;
  border-radius: 0.5rem;
  background-color: rgb(255, 255, 16);
}






/*Main CSS*/

.main-page-container {
  display: flex;
  flex-direction: column;
}

.main-title-container {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  margin-left: 8rem;
}

.main-h1 {
  font-family:"Press Start 2P";
  color: rgb(226, 8, 8);
  font-weight:lighter;
  font-size: 4rem;
  text-shadow: 2px 2px 1px rgb(68, 68, 68);
}

.main-p-1 {
  color: white;
  font-size: 2rem;
}

.section1-container1 {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  margin-bottom: 5rem;
  padding-left: 7rem;
  padding-right:7rem;
}

.section1-h3-p {
  display: flex;
  flex-direction: column;
  padding: 5rem 4rem 2rem 2rem;
}

.section-h3 {
  font-size: 2.5rem;
  color: rgb(212, 212, 212);
}

.section1-p1 {
  font-size: 1.25rem;
  color: rgb(212, 212, 212);
}

.main-img { 
  border-radius: 0.5rem;
}

.section2-container1 {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  margin-bottom: 5rem;
  padding-left: 10rem;
  padding-right: 7rem;
}

.section2-h3-p {
  display: flex;
  flex-direction: column;
  padding: 5rem 2rem 2rem 2rem;
  margin-left: 5rem;
}

.section2-p1 {
  font-size: 1.25rem;
  color: rgb(212, 212, 212);
}


/* list CSS */

.list-addgame-container {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.list-addgame-h1 {
  font-family:"Press Start 2P";
  color: rgb(226, 8, 8);
  font-weight:lighter;
  font-size: 3rem;
  text-shadow: 2px 2px 1px rgb(68, 68, 68);
}




